:root {
    --color-primary: #E45447;
    --color-secondary: #90ACD1;
    --color-secondary-light: #F9F9FF;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: inline-block;
    padding: 80px 0;
    margin-left: calc(50% - 500px);
    width: 1000px;
}
@media ( max-width: 1100px ) {
    .container {
        width: 780px;
        margin-left: calc(50% - 390px);
    }
}
@media ( max-width: 880px ) {
    .container {
        width: 480px;
        margin-left: calc(50% - 240px);
    }
}
@media ( max-width: 580px ) {
    .container {
        width: 100%;
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.block-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
    .block-title > h2 {
        display: inline-block;
        width: 100%;
        font-size: 40px;
        line-height: 40px;
    }
    .block-title > .line {
        display: inline-block;
        width: 100px;
        height: 2px;
        background-color: var(--color-primary);
        margin-top: 20px;
    }
        .block-title > .line::after {
            display: block;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: inherit;
            margin-top: -4px;
        }
    .block-title.block-title-center {
        text-align: center;
    }
        .block-title.block-title-center > .line::after {
            margin-left: calc( (100% - 10px) / 2 );
            /* margin: -4px auto; */
        }
    .block-title.block-title-white {
        color: #FFF;
    }
        .block-title.block-title-white > .line {
            background-color: #FFF;
        }

.bg-blue {
    background-color: var(--color-secondary);
}
.bg-light-grey {
    background-color: var(--color-secondary-light);
}
.bg-red {
    background-color: var(--color-primary);
}

/* HEADER */



/* HERO */



/* CLIENT LOGOS */



/* ABOUT MYSELF */



/* STATISTICS and SERVICE OFFERS */



/* SKILLS */



/* LATEST WORKS */



/* JOB HISTORY */



/* TESTIMONIALS */



/* CONTACT ME */



/* FOOTER */



/* BACKT TO TOP */
